body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* GT America Bold */
@font-face {
	font-family: "GT America Bold";
	src: url("/fonts/GTAmericaBold.otf") format("opentype");
}

/* GT America Medium */
@font-face {
	font-family: "GT America Medium";
	src: url("/fonts/GTAmericaMedium.otf") format("opentype");
}

/* GT America Regular */
@font-face {
	font-family: "GT America Regular";
	src: url("/fonts/GTAmericaRegular.otf") format("opentype");
}

/* GT America Mono */
@font-face {
	font-family: "GT America Mono Bold";
	src: url("/fonts/GTAmericaMonoBold.otf") format("opentype");
}
/* GT America Regular */
@font-face {
	font-family: "GT America Mono Regular";
	src: url("/fonts/GTAmericaMonoRegular.otf") format("opentype");
}
